
.mis_productos{
    width: 100%;
    height: auto;
    padding: 20px;
    
    
}

.cabezera{
   background-color: #5300C8;
   width: 100%; 
   height: 130px;
   padding: 20px 0 30px 0;
}

section{
   background-color: rgb(227, 247, 241);
   display: flex;
   justify-content: space-between;
   
   height: auto;
   gap: 20px;
   margin: 0 auto;
  
   
}


.block_principal{
    background-color: rgb(241, 241, 227);
    display:ruby;
    width: 700px;
    height: auto;
    padding: 20px 40 20px 40;
    flex: 3;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    float: left;
    gap: 5px;
    

}

.formulario{
    background-color: rgb(241, 241, 227);
    flex:1;
    width: 472px;
    height: 857px;
    padding: 5px;
    gap: 5px;
    float:right;
}

img{
    width: 200px;
    height:200px;
    padding: 5px;
    
}
.logo{
    display: flex;
    justify-content:center;
    align-items:center;
    
}
h2{
    display: block;
    font-size: 2em;
    font-weight:bold;
    text-align:center;
    justify-content: center;
    
}

.title_addProducto{
    width: 392px;
    height: 58px;
}

footer{
    width: 100%;
    height: auto;
    position:relative;
    background-color:#5300C8 ;
    bottom: 0;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 0 0 5px;

}

@media screen and (max-width:768px){
    
    .block_principal{
        display: flex;
        width: 100%;
        flex-direction:column;
        justify-content: center;
    }
    .formulario{
        flex-direction: column;
        justify-content: center;
        float: left;
    }
    .logo{
        flex-direction:row;
        flex-wrap: wrap;
    }

    @media screen and (min-width:360px){
        
        .block_principal{
            display:grid;
        
            justify-content:center;
           
            
        }
        .formulario{
            flex-direction: column;
            justify-content: center;
        }
    }
        
     
      }